{% use 'blocks/unitHeader.twig' %}
{% use 'blocks/unitRemark.twig' %}
{% use 'blocks/image.twig' %}
{% use 'blocks/details.twig' %}
{% use 'blocks/legend.twig' %}

{% block unit %}
    <div class="unit_page">
        {{ block('unit_header') }}
        <div class="unit" id="g_container">
            <div class="row">
                <div class="col-12">
                    {{ block('unit_remark') }}
                </div>
                <div class="col-lg-6">
                    {{ block('image') }}
                    {{ block('legend') }}
                </div>
                <div class="col-lg-6">
                    {{ block('details') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
